<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>LSPD - TERMINAL</title>
</head>
<body>
    <header>
        <img src="../assets/img/logo.png" alt="logo">
        <p>Wewnętrzny Terminal LSPD</p>
    </header>
    <main>
        <a href="../view/wyszukiwarka.php">
            <section class="card">
                <img src="../assets/img/undraw_people_search_re_5rre.svg" alt="Wyszukaj Obywatela">
                <h1>Wyszukaj Obywatela</h1>
                <p>Sprawdź dane i status obywatela</p>
            </section>
        </a>
        <a href="../view/poszukiwani.php">
            <section class="card">
                <img src="../assets/img/undraw_personal_information_re_vw8a.svg" alt="Poszukiwani Obywatele">
                <h1>Poszukiwani</h1>
                <p>Sprawdź listę poszukiwanych osób</p>
            </section>
        </a>
        <a href="../view/pojazdy.php">
            <section class="card">
                <img src="../assets/img/undraw_city_driver_re_0x5e.svg" alt="Pojazdy">
                <h1>Pojazdy</h1>
                <p>Sprawdź dane dot. pojazdów i ich właścicieli</p>
            </section>
        </a>
        <a href="../view/poszukiwane_pojazdy.php">
            <section class="card">
                <img src="../assets/img/undraw_fast_car_p-4-cu.svg" alt="Poszukiwane Pojazdy">
                <h1>Poszukiwane Pojazdy</h1>
                <p>Sprawdź listę poszukiwanych pojazdów</p>
            </section>
        </a>
        <a href="taryfikator.php">
            <section class="card">
                <img src="../assets/img/undraw_pay_online_b-1-hk.svg" alt="Cennik">
                <h1>Taryfikator</h1>
                <p>Sprawdź taryfy za wykroczenia</p>
            </section>
        </a>
        <a href="../view/ogloszenia.php">
            <section class="card">
                <img src="../assets/img/undraw_content_creator_re_pt5b.svg" alt="Wyszukaj Obywatela">
                <h1>Ogłoszenia</h1>
                <p>Sprawdź bierzące ogłosznia</p>
            </section>
        </a>
        <a href="../view/policjanci.php">
            <section class="card">
                <img src="../assets/img/undraw_content_creator_re_pt5b.svg" alt="Wyszukaj Obywatela">
                <h1>Policjanci</h1>
                <p>Sprawdź listę policjantów i ich stopień</p>
            </section>
        </a>
    </main>
</body>
</html>